<section>
  <h2>Create New Post</h2>

<div class="comments">
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="comment-area" name="post-title" class="form-input" />
    </div>
    <div>
      <label for="post-url">Post Description</label>
      <input id="comment-area" name="post-url" class="form-input" />
    </div>
    <button type="submit" class="form-button">Create</button>
  </form>
</div>
</section>
