<section>
  <h2 id="createNewPost">Create New Post</h2>

  <div class="comments">
    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input
          type="text"
          id="comment-area"
          name="post-title"
          class="form-input form-control mb-2"
          placeholder="Your Title"
        />
      </div>
      <div>
        <label for="post-url">Post</label>
        <textarea
          id="comment-area"
          name="post-url"
          class="form-input form-control mb-2"
          placeholder="Your Post Text"
        ></textarea>
      </div>
      <button type="submit" class="form-button">Create</button>
    </form>
  </div>
</section>

<script src="/js/add-post.js"></script>