
<div>
  <h2>{{username}}</h2>
  <p>Posted at {{created_at}}</p>
  <p>{{comment_text}}</p>
</div>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>