<div class="row my-5">
<div class="col-3">
  <a
  class="games text-decoration-none"
  href="https://www.miniaturemarket.com/pex2002.html"
  target="_blank"
>
  <img
    class="images-art"
    src="/images/Long-Shot-Box.jpg"
    alt="Long Shot: The Dice Game"
  />
  <h3>
    Long Shot: The Dice Game
  </h3>
</a>
</div>

<div class="col-3 w-25"><a
  class="games text-decoration-none"
  href="https://www.miniaturemarket.com/ffgti07.html"
  target="_blank"
>
  <img
    class=""
    src="/images/TI-Box.jpg"
    alt="Twilight Imperium: Fourth Edition"
  />
  <h3>
    Twilight Imperium: Fourth Edition
  </h3>
</a></div>

<div class="col-3 w-25">
<a
  class="games text-decoration-none"
  href="https://www.miniaturemarket.com/ffgce01-42.html"
  target="_blank"
>
  <img class="images-art" src="/images/Cosmic-Box.jpg" alt="Cosmic Encounter" />
  <h3>
    Cosmic Encounter
  </h3>
</a></div>

<div class="col-3"><a
  class="games text-decoration-none"
  href="https://www.miniaturemarket.com/awgaw10pp.html"
  target="_blank"
>
  <img
    class="images-art"
    src="/images/Picture-Perfect-Box.jpg"
    alt="Picture Perfect"
  />
  <h3>
    Picture Perfect
  </h3>
</a></div>
</div>