{{!-- <a class="games" href="/article/{{id}}">
    <img
      class="images-art"
      src="/images/Long-Shot-Box.jpg"
      alt="long shot box art"
    />
    <h3>
      Long Shot
    </h3>
</a> --}}