* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary: white;
  --secondary: rgb(237, 237, 237);
  --font: Helvetica, sans-serif;
}
body {
  background-color: var(--primary);
}
header {
  background-color: #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 5px solid #0A598A;
}

#logoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#logo {
   height: 10%;
   width: 10%;
 }

h1 {
  margin: 20px;
}

h1 a {
  color: #0A598A;
  text-decoration: none;
  font-family: var(--font);
  font-size: 3rem;
  font-weight: normal;
}

h1 a:hover {
  color: #2488C6;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
h2 {
  margin: 20px;
}
h2 a {
  color: #0A598A;
  text-decoration: none;
  font-family: var(--font);
  font-size: 2rem;
  font-weight: normal;
}
h2 a:hover {
  color: #2488C6;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}
.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  text-decoration: none;
}

.games:hover{
  transform: scale(1.05);
}

.games > h3 {
  color: #0A598A;
}

.games:hover > h3 {
  color: #2488C6;
}

.games:hover > #homepage-icon-titles {
  color:#2488C6
} 

.images-art {
  height: 75%;
  width: 75%;
  border-radius: 25px;
  transition: transform .2s;
}

/* homepage-images-art was created so the store images and article images didnt resize each other strangly on each corresponding page */
.homepage-images-art{
  height: 33vh;
  width: 33vw;
  border-radius: 25px;
  transition: transform .2s;
}

#homepage-icon-titles {
  margin-top: 15px;
  color: #0A598A;;
}

h3 {
  margin: 10px 0px;
  color: var(--primary);
}

footer {
  background-color: #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 5px solid #0A598A;
}
h6 {
  color: #0A598A;;
  font-family: var(--font);
  font-size: 1.5rem;
  padding: 10px;
  font-weight: normal;
}
.login-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}
.form-label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form-label {
  font-size: 1.5rem;
  padding: 5px;
}
.form-input {
  width: 500px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
}
.form-button {
  width: 500px;
  font-size: 1.5rem;
  background-color: #0A598A;
  color: var(--secondary);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
}

.form-button:hover {
  transform: scale(1.025);
}

article {
  margin: 20px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
h4 {
  padding-bottom: 20px;
  width: 100%;
  font-size: 2rem;
  border-bottom: 5px dotted var(--primary);
  margin: 20px 0px;
  text-align: center;
}
.images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
.images {
  height: 300px;
  width: 500px;
  border-radius: 25px;
}
.article-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2;
  margin: 20px 0px;
  text-align: justify;
}
.comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}
.comment-text {
  margin: 20px 0px;
}
h5 {
  font-size: 1.5rem;
}
.comments {
  font-size: 1rem;
}
#new-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#new-comment textarea {
  font-size: 1rem;
  padding: 5px;
}
#new-comment button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.25rem;
  padding: 5px;
  margin-top: 2.5px;
}
.comments-display {
  margin-top: 20px;
}

/* forum css below */

.threads {
  display: block;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 50%;
  color: black;
  text-decoration: none;
}

#threadLink {
  color: black;
  text-decoration: underline;
}

#threadPoster {
  color: black;
  text-decoration: none;
}

#ThreadContent {
  color: black;
  text-decoration: none;
}

.forumTitle {
color: #0A598A;
}

.forumTitle:hover {
  color: #2488C6;
  transform: scale(1.0025);
}

/* potentially cool bg here? */