:root {
  --primary: #e6e6e6;
  --secondary: #2488c6;
  --tertiary: #0a598a;
  --font: Helvetica, sans-serif;
}
h1 {
  margin-left: 15px;
  font-size: 3rem;
}
h2 {
  margin: 0px 20px;
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1.75rem;
  margin-top: 20px;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  color: var(--tertiary);
  font-family: var(--font);
  font-size: 1.25rem;
  padding: 10px;
}
main {
  min-height: 100%;
}
body {
  background-color: white;
}
header {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--tertiary);
}
#logoAndTitle {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logo img {
  height: 150px;
}
h1 a {
  color: var(--tertiary);
  text-decoration: none;
  font-family: var(--font);
}
h1 a:hover {
  color: var(--secondary);
  text-decoration: none;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
h2 a {
  color: var(--tertiary);
  text-decoration: none;
  font-family: var(--font);
}
h2 a:hover {
  color: var(--secondary);
  text-decoration: none;
}
footer {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 5px solid var(--tertiary);
}
.homepage-images-art {
  height: 150px;
  width: 250px;
}
.form-button {
  background-color: var(--tertiary);
  color: white;
  width: 100px;
}
.form-button:hover {
  transform: scale(1.025);
}
.article-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0px;
  text-align: justify;
}
.comments {
  margin: 20px 0px;
  background-color: var(--primary);
  border: 2.5px solid var(--tertiary);
  padding: 10px;
}
#new-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  text-decoration: none;
}
.games:hover {
  transform: scale(1.05);
}

.games > h3 {
  color: var(--tertiary);
}

.games:hover > h3 {
  color: var(--secondary);
}

.games:hover > #homepage-icon-titles {
  color: var(--secondary);
  text-decoration: none;
}
/* forum css below */
#threadCreation{
  margin-top: 15px;
}

.threads {
  display: block;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 50%;
  color: black;
  border: solid 5px #0a598a;
  background-color: #e6e6e6;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding:10px;
}

#threadLink {
  color: black;
  text-decoration: underline;
}

#threadPoster {
  color: #2488c6;
  text-decoration: none;
}

#ThreadContent {
  color: black;
  text-decoration: none;
}

.forumTitle {
  color: var(--tertiary);
  text-decoration: none !important;
  background-color: #e6e6e6;
  padding: 5px;
}

#threadTitle {
  color: var(--tertiary) !important;
}

.forumTitle:hover {
  color: var(--secondary);
  transform: scale(1.0025);
  text-decoration: underline;
}
