:root {
  --primary: white;
  --secondary: rgb(237, 237, 237);
  --font: Helvetica, sans-serif;
}

h1 {
  margin-left: 15px;
  font-size: 3rem;
}

h2 {
  margin: 20px;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h6 {
  color: #0a598a;
  font-family: var(--font);
  font-size: 1.25rem;
  padding: 10px;
  font-weight: normal;
}

main {
  min-height: 100%;
}

body {
  background-color: var(--primary);
}
header {
  background-color: #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #0a598a;
}

#logoAndTitle {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo img {
  height: 150px;
}

h1 a {
  color: #0a598a;
  text-decoration: none;
  font-family: var(--font);
  /* font-size: 3rem; */
  font-weight: normal;
}

h1 a:hover {
  color: #2488c6;
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h2 a {
  color: #0a598a;
  text-decoration: none;
  font-family: var(--font);
  font-weight: normal;
}
h2 a:hover {
  color: #2488c6;
}

/* main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
} */
.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  text-decoration: none;
}

.games:hover {
  transform: scale(1.05);
}

.games > h3 {
  color: #0a598a;
}

.games:hover > h3 {
  color: #2488c6;
}

.games:hover > #homepage-icon-titles {
  color: #2488c6;
  text-decoration: none;
}

/* .images-art {
  height: 75%;
  width: 75%;
  border-radius: 25px;
  transition: transform 0.2s;
} */
/* .article {
  width: 300px;
} */
/* homepage-images-art was created so the store images and article images didnt resize each other strangly on each corresponding page */
.homepage-images-art {
  height: 150px;
  width: 250px;
  /* transition: transform 0.2s; */
}

#homepage-icon-titles {
  margin-top: 15px;
  color: #0a598a;
  text-decoration: none;
}

footer {
  background-color: #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 5px solid #0a598a;
}

.login-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}
.form-label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form-label {
  font-size: 1.5rem;
  padding: 5px;
}
.form-input {
  width: 500px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
}
.form-button {
  width: 500px;
  font-size: 1.5rem;
  background-color: #0a598a;
  color: var(--secondary);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
}

.form-button:hover {
  transform: scale(1.025);
}

/* article {
  margin: 20px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
} */
h4 {
  padding-bottom: 20px;
  width: 100%;
  font-size: 2rem;
  border-bottom: 5px dotted var(--primary);
  margin: 20px 0px;
  text-align: center;
}
.images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
/* .images {
  height: 300px;
  width: 500px;
  border-radius: 25px;
} */
.article-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2;
  margin: 20px 0px;
  text-align: justify;
}
.comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}
.comment-text {
  margin: 20px 0px;
}
h5 {
  font-size: 1.5rem;
}
.comments {
  font-size: 1rem;
  background-color: #e6e6e6;
  border: 5px solid #0a598a;
  padding: 10px;
}
#new-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#new-comment textarea {
  font-size: 1rem;
  padding: 5px;
}

#new-comment button {
  background-color: #0a598a;
  color: var(--secondary);
  font-size: 1.25rem;
  padding: 5px;
  margin-top: 2.5px;
}

#new-comment button:hover {
  transform: scale(1.025);
}
.comments-display {
  margin-top: 20px;
}

/* forum css below */

.threads {
  display: block;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 50%;
  color: black;
  text-decoration: none;
}

#threadLink {
  color: black;
  text-decoration: underline;
}

#threadPoster {
  color: black;
  text-decoration: none;
}

#ThreadContent {
  color: black;
  text-decoration: none;
}

.forumTitle {
  color: #0a598a;
  text-decoration: none !important;
}

#threadTitle {
  color: #0a598a !important;
}

.forumTitle:hover {
  color: #2488c6;
  transform: scale(1.0025);
  text-decoration: underline;
}

/* potentially cool bg here? */
